 .sh{
    color: purple;
    background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMjItbWluZC0xNl8xLmpwZw.jpg);
}
.res {
    background-image: url(https://png.pngtree.com/background/20220714/original/pngtree-simple-and-fresh-series-light-blue-resume-background-blue-picture-image_1610943.jpg);
    color: green;
}
#day1{
    color: blueviolet;
}